
    .chat-container {
      height: 360px;
      overflow-y: scroll;
    }

    .tech-table-container {
      height: 360px;
      overflow-y: scroll;
    }

    .message {
      margin-bottom: 10px;
    }
    .typing-text {
      <!--font-size: 24px;-->
      font-family: monospace;
    }

    .dots {
      font-size: 24px;
      font-family: monospace;
    }

    .table-v-small-text {
        font-size: 12px;
    }

    .ratings-button {
      background-color: transparent;
      //border: none;

    }

